## 02. Analsis Seoul Crime

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 읽기
crime_raw_data = pd.read_csv("./Crime_data/02. crime_in_Seoul.csv", thousands= "," , encoding="euc-kr")
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [3]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

In [4]:
crime_raw_data["죄종"].unique()

array(['살인', '강도', '강간', '절도', '폭력', nan], dtype=object)

In [5]:
crime_raw_data[crime_raw_data["죄종"].isnull()].head()

      구분   죄종 발생검거  건수
310  NaN  NaN  NaN NaN
311  NaN  NaN  NaN NaN
312  NaN  NaN  NaN NaN
313  NaN  NaN  NaN NaN
314  NaN  NaN  NaN NaN

In [6]:
crime_raw_data = crime_raw_data[crime_raw_data["죄종"].notnull()]

In [7]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

In [8]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [9]:
crime_raw_data.tail()

     구분  죄종 발생검거      건수
305  수서  강간   검거   144.0
306  수서  절도   발생  1149.0
307  수서  절도   검거   789.0
308  수서  폭력   발생  1666.0
309  수서  폭력   검거  1431.0

## Pandas pivot table
- index,columns,values,aggfunc

In [10]:
df = pd.read_excel("./Crime_data/02. sales-funnel.xlsx",engine="openpyxl")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

index 설정

In [11]:
# Name 컬럼을 인덱스로 설정
# pd.pivot_table(df, index='Name', values=['Account','Quantity', 'Price'])
df.pivot_table(index="Name",values=['Account','Quantity', 'Price'])

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [12]:
# 멀티 인덱스 설정
df.pivot_table(index=["Name","Manager","Rep"],values=['Account','Quantity', 'Price'])

,,,Account,Price,Quantity
Name,Manager,Rep,,,
Barton LLC,Debra Henley,John Smith,740150,35000,1.000000
"Fritsch, Russel and Anderson",Debra Henley,Craig Booker,737550,35000,1.000000
Herman LLC,Fred Anderson,Cedric Moss,141962,65000,2.000000
Jerde-Hilpert,Debra Henley,John Smith,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Fred Anderson,Wendy Yule,307599,7000,3.000000
Keeling LLC,Fred Anderson,Wendy Yule,688981,100000,5.000000
Kiehn-Spinka,Debra Henley,Daniel Hilton,146832,65000,2.000000
Koepp Ltd,Fred Anderson,Wendy Yule,729833,35000,2.000000
Kulas Inc,Debra Henley,Daniel Hilton,218895,25000,1.500000
Purdy-Kunde,Fred Anderson,Cedric Moss,163416,30000,1.000000
Stokes LLC,Fred Anderson,Cedric Moss,239344,7500,1.000000
Trantow-Barrows,Debra Henley,Craig Booker,714466,15000,1.333333

In [13]:
df.pivot_table(index=["Name","Manager","Rep"],values="Price")

                                                           Price
Name                         Manager       Rep
Barton LLC                   Debra Henley  John Smith      35000
Fritsch, Russel and Anderson Debra Henley  Craig Booker    35000
Herman LLC                   Fred Anderson Cedric Moss     65000
Jerde-Hilpert                Debra Henley  John Smith       5000
Kassulke, Ondricka and Metz  Fred Anderson Wendy Yule       7000
Keeling LLC                  Fred Anderson Wendy Yule     100000
Kiehn-Spinka                 Debra Henley  Daniel Hilton   65000
Koepp Ltd                    Fred Anderson Wendy Yule      35000
Kulas Inc                    Debra Henley  Daniel Hilton   25000
Purdy-Kunde                  Fred Anderson Cedric Moss     30000
Stokes LLC                   Fred Anderson Cedric Moss      7500
Trantow-Barrows              Debra Henley  Craig Booker    15000

In [14]:
# Price 컬럼 sum 연산 적용
df.pivot_table(index=["Name","Manager","Rep"],values="Price",aggfunc=np.sum)

                                                           Price
Name                         Manager       Rep
Barton LLC                   Debra Henley  John Smith      35000
Fritsch, Russel and Anderson Debra Henley  Craig Booker    35000
Herman LLC                   Fred Anderson Cedric Moss     65000
Jerde-Hilpert                Debra Henley  John Smith       5000
Kassulke, Ondricka and Metz  Fred Anderson Wendy Yule       7000
Keeling LLC                  Fred Anderson Wendy Yule     100000
Kiehn-Spinka                 Debra Henley  Daniel Hilton   65000
Koepp Ltd                    Fred Anderson Wendy Yule      70000
Kulas Inc                    Debra Henley  Daniel Hilton   50000
Purdy-Kunde                  Fred Anderson Cedric Moss     30000
Stokes LLC                   Fred Anderson Cedric Moss     15000
Trantow-Barrows              Debra Henley  Craig Booker    45000

In [15]:
df.pivot_table(index=["Name","Manager","Rep"],values="Price",aggfunc=[np.sum,len])

                                                             sum   len
                                                           Price Price
Name                         Manager       Rep
Barton LLC                   Debra Henley  John Smith      35000     1
Fritsch, Russel and Anderson Debra Henley  Craig Booker    35000     1
Herman LLC                   Fred Anderson Cedric Moss     65000     1
Jerde-Hilpert                Debra Henley  John Smith       5000     1
Kassulke, Ondricka and Metz  Fred Anderson Wendy Yule       7000     1
Keeling LLC                  Fred Anderson Wendy Yule     100000     1
Kiehn-Spinka                 Debra Henley  Daniel Hilton   65000     1
Koepp Ltd                    Fred Anderson Wendy Yule      70000     2
Kulas Inc                    Debra Henley  Daniel Hilton   50000     2
Purdy-Kunde                  Fred Anderson Cedric Moss     30000     1
Stokes LLC                   Fred Anderson Cedric Moss     15000     2
Trantow-Barrows              Debra Henley  Craig Booker    45000     3

columns 설정

In [16]:
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [17]:
df.pivot_table(index=["Name","Manager","Rep"],values="Price",columns="Product",aggfunc=np.sum)

,,Product,CPU,Maintenance,Monitor,Software
Name,Manager,Rep,,,,
Barton LLC,Debra Henley,John Smith,35000.0,NaN,NaN,NaN
"Fritsch, Russel and Anderson",Debra Henley,Craig Booker,35000.0,NaN,NaN,NaN
Herman LLC,Fred Anderson,Cedric Moss,65000.0,NaN,NaN,NaN
Jerde-Hilpert,Debra Henley,John Smith,NaN,5000.0,NaN,NaN
"Kassulke, Ondricka and Metz",Fred Anderson,Wendy Yule,NaN,7000.0,NaN,NaN
Keeling LLC,Fred Anderson,Wendy Yule,100000.0,NaN,NaN,NaN
Kiehn-Spinka,Debra Henley,Daniel Hilton,65000.0,NaN,NaN,NaN
Koepp Ltd,Fred Anderson,Wendy Yule,65000.0,NaN,5000.0,NaN
Kulas Inc,Debra Henley,Daniel Hilton,40000.0,NaN,NaN,10000.0
Purdy-Kunde,Fred Anderson,Cedric Moss,30000.0,NaN,NaN,NaN
Stokes LLC,Fred Anderson,Cedric Moss,NaN,5000.0,NaN,10000.0
Trantow-Barrows,Debra Henley,Craig Booker,30000.0,5000.0,NaN,10000.0

In [18]:
# Nan 값 설정 : fill_value
df.pivot_table(index=["Name","Manager","Rep"],values="Price",columns="Product",aggfunc=np.sum,fill_value=0)

,,Product,CPU,Maintenance,Monitor,Software
Name,Manager,Rep,,,,
Barton LLC,Debra Henley,John Smith,35000,0,0,0
"Fritsch, Russel and Anderson",Debra Henley,Craig Booker,35000,0,0,0
Herman LLC,Fred Anderson,Cedric Moss,65000,0,0,0
Jerde-Hilpert,Debra Henley,John Smith,0,5000,0,0
"Kassulke, Ondricka and Metz",Fred Anderson,Wendy Yule,0,7000,0,0
Keeling LLC,Fred Anderson,Wendy Yule,100000,0,0,0
Kiehn-Spinka,Debra Henley,Daniel Hilton,65000,0,0,0
Koepp Ltd,Fred Anderson,Wendy Yule,65000,0,5000,0
Kulas Inc,Debra Henley,Daniel Hilton,40000,0,0,10000
Purdy-Kunde,Fred Anderson,Cedric Moss,30000,0,0,0
Stokes LLC,Fred Anderson,Cedric Moss,0,5000,0,10000
Trantow-Barrows,Debra Henley,Craig Booker,30000,5000,0,10000

In [19]:
# 2개 이상 index,values 설정
df.pivot_table(index=["Product","Manager","Rep"],values=["Price","Quantity"],aggfunc=np.sum,fill_value=0)

                                          Price  Quantity
Product     Manager       Rep
CPU         Debra Henley  Craig Booker    65000         2
                          Daniel Hilton  105000         4
                          John Smith      35000         1
            Fred Anderson Cedric Moss     95000         3
                          Wendy Yule     165000         7
Maintenance Debra Henley  Craig Booker     5000         2
                          John Smith       5000         2
            Fred Anderson Cedric Moss      5000         1
                          Wendy Yule       7000         3
Monitor     Fred Anderson Wendy Yule       5000         2
Software    Debra Henley  Craig Booker    10000         1
                          Daniel Hilton   10000         1
            Fred Anderson Cedric Moss     10000         1

In [20]:
# aggfunc 2개 이상 설정
df.pivot_table(index=["Product","Manager","Rep"],
               values=["Price","Quantity"],
               aggfunc=[np.sum,np.mean],
               fill_value=0,
               margins=True)

                                            sum                   mean  \
                                          Price Quantity         Price
Product     Manager       Rep
CPU         Debra Henley  Craig Booker    65000        2  32500.000000
                          Daniel Hilton  105000        4  52500.000000
                          John Smith      35000        1  35000.000000
            Fred Anderson Cedric Moss     95000        3  47500.000000
                          Wendy Yule     165000        7  82500.000000
Maintenance Debra Henley  Craig Booker     5000        2   5000.000000
                          John Smith       5000        2   5000.000000
            Fred Anderson Cedric Moss      5000        1   5000.000000
                          Wendy Yule       7000        3   7000.000000
Monitor     Fred Anderson Wendy Yule       5000        2   5000.000000
Software    Debra Henley  Craig Booker    10000        1  10000.000000
                          Daniel Hilton   10000        1  10000.000000
            Fred Anderson Cedric Moss     10000        1  10000.000000
All                                      522000       30  30705.882353


                                         Quantity
Product     Manager       Rep
CPU         Debra Henley  Craig Booker   1.000000
                          Daniel Hilton  2.000000
                          John Smith     1.000000
            Fred Anderson Cedric Moss    1.500000
                          Wendy Yule     3.500000
Maintenance Debra Henley  Craig Booker   2.000000
                          John Smith     2.000000
            Fred Anderson Cedric Moss    1.000000
                          Wendy Yule     3.000000
Monitor     Fred Anderson Wendy Yule     2.000000
Software    Debra Henley  Craig Booker   1.000000
                          Daniel Hilton  1.000000
            Fred Anderson Cedric Moss    1.000000
All                                      1.764706

------------

---

## 3. 서울시 범죄 현황 데이터 정리

In [21]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [22]:
crime_station = crime_raw_data.pivot_table(
    crime_raw_data,
    index="구분",
    columns=["죄종","발생검거"],
    aggfunc=[np.sum]
)
crime_station.head()

        sum
         건수
죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [23]:
crime_station.columns # Multiindex

MultiIndex([('sum', '건수', '강간', '검거'),
            ('sum', '건수', '강간', '발생'),
            ('sum', '건수', '강도', '검거'),
            ('sum', '건수', '강도', '발생'),
            ('sum', '건수', '살인', '검거'),
            ('sum', '건수', '살인', '발생'),
            ('sum', '건수', '절도', '검거'),
            ('sum', '건수', '절도', '발생'),
            ('sum', '건수', '폭력', '검거'),
            ('sum', '건수', '폭력', '발생')],
           names=[None, None, '죄종', '발생검거'])

In [24]:
crime_station["sum","건수","강도","검거"][:5]

구분
강남    26.0
강동    13.0
강북     4.0
강서    10.0
관악    10.0
Name: (sum, 건수, 강도, 검거), dtype: float64

In [25]:
crime_station.columns = crime_station.columns.droplevel([0,1]) # 다중 컬럼에서 특정 컬럼 제거
crime_station.columns

MultiIndex([('강간', '검거'),
            ('강간', '발생'),
            ('강도', '검거'),
            ('강도', '발생'),
            ('살인', '검거'),
            ('살인', '발생'),
            ('절도', '검거'),
            ('절도', '발생'),
            ('폭력', '검거'),
            ('폭력', '발생')],
           names=['죄종', '발생검거'])

In [26]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [27]:
crime_station.index

Index(['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '남대문', '노원', '도봉',
       '동대문', '동작', '마포', '방배', '서대문', '서부', '서초', '성동', '성북', '송파', '수서',
       '양천', '영등포', '용산', '은평', '종로', '종암', '중랑', '중부', '혜화'],
      dtype='object', name='구분')

- 현재 index는 경찰서 이름으로 되어 있습니다
- 경찰서 이름으로 구 이름을 알아내야 한다

#### 4. Python 모듈 설치

pip 명령
- python의 공식 모듈 관리자
- pip list
- pip install module_name
- pip uninstall module_name

In [28]:
# !pip list
get_ipython().system("pip list")

Package                   Version
------------------------- ------------
anyio                     4.2.0
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
asttokens                 2.0.5
async-lru                 2.0.4
attrs                     23.1.0
Babel                     2.11.0
backcall                  0.2.0
beautifulsoup4            4.12.2
bleach                    4.1.0
Bottleneck                1.3.7
branca                    0.7.2
Brotli                    1.0.9
certifi                   2024.2.2
cffi                      1.16.0
charset-normalizer        2.0.4
colorama                  0.4.6
comm                      0.2.1
contourpy                 1.0.5
cycler                    0.11.0
debugpy                   1.6.7
decorator                 5.1.1
defusedxml                0.7.1
et-xmlfile                1.1.0
exceptiongroup            1.2.0
executing                 0.8.3
fastjsonschema            2.16.2
folium                    0.16.0
fonttools                 4.25.0
googlemaps                4.10.0
idna                      3.4
importlib-metadata        7.0.1
importlib-resources       6.1.1
ipykernel                 6.28.0
ipython                   8.12.2
ipywidgets                8.1.2
jedi                      0.18.1
Jinja2                    3.1.3
joblib                    1.2.0
json5                     0.9.6
jsonschema                4.19.2
jsonschema-specifications 2023.7.1
jupyter                   1.0.0
jupyter_client            8.6.0
jupyter-console           6.6.3
jupyter_core              5.5.0
jupyter-events            0.8.0
jupyter-lsp               2.2.0
jupyter_server            2.10.0
jupyter_server_terminals  0.4.4
jupyterlab                4.0.11
jupyterlab-pygments       0.1.2
jupyterlab_server         2.25.1
jupyterlab-widgets        3.0.10
kiwisolver                1.4.4
MarkupSafe                2.1.3
matplotlib                3.7.2
matplotlib-inline         0.1.6
mistune                   2.0.4
mkl-fft                   1.3.8
mkl-random                1.2.4
mkl-service               2.4.0
munkres                   1.1.4
nbclient                  0.8.0
nbconvert                 7.10.0
nbformat                  5.9.2
nest-asyncio              1.6.0
notebook                  7.0.8
notebook_shim             0.2.3
numexpr                   2.8.4
numpy                     1.24.3
openpyxl                  3.1.2
overrides                 7.4.0
packaging                 23.2
pandas                    2.0.3
pandocfilters             1.5.0
parso                     0.8.3
pickleshare               0.7.5
pillow                    10.2.0
pip                       23.3.1
pkgutil_resolve_name      1.3.10
platformdirs              3.10.0
ply                       3.11
pooch                     1.7.0
prometheus-client         0.14.1
prompt-toolkit            3.0.43
psutil                    5.9.0
pure-eval                 0.2.2
pycparser                 2.21
Pygments                  2.15.1
pyparsing                 3.0.9
PyQt5                     5.15.10
PyQt5-sip                 12.13.0
PySocks                   1.7.1
python-dateutil           2.8.2
python-dotenv             1.0.1
python-json-logger        2.0.7
pytz                      2023.3.post1
pywin32                   305.1
pywinpty                  2.0.10
PyYAML                    6.0.1
pyzmq                     25.1.2
qtconsole                 5.5.1
QtPy                      2.4.1
referencing               0.30.2
requests                  2.31.0
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.10.6
scikit-learn              1.3.0
scipy                     1.10.1
seaborn                   0.12.2
Send2Trash                1.8.2
setuptools                68.2.2
sip                       6.7.12
six                       1.16.0
sniffio                   1.3.0
soupsieve                 2.5
stack-data                0.2.0
terminado                 0.17.1
threadpoolctl             2.2.0
tinycss2                  1.2.1
tomli                     2.0.1
tornado                   6.3.3
traitlets                 5.7.1
typing_extensions         4.9.0
tzdata                    2023.3
urllib3                   2.1.0
wcwidth                   0.2.5
webencodings              0.5.1
websocket-client          0.58.0
wheel                     0.41.2
widgetsnbextension        4.0.10
win-inet-pton             1.1.0
xlrd                      2.0.1
xyzservices               2024.4.0
zipp                      3.17.0

conda 명령
- conda list
- conda install module_name
- conda uninstall module_name
- conda install -c channel_name module_name
    - 지정된 배포 채널에서 모듈 설치
- Windows,Mac(intel)

#### 5. Google Maps API

In [29]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in d:\miniconda\envs\ds_study\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [30]:
from dotenv import load_dotenv
import os
import googlemaps

In [31]:
load_dotenv()

True

In [32]:
API_KEY = os.getenv("API_KEY")

In [33]:
conda install -c conda-forge googleMaps

Channels:
 - conda-forge
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [34]:
gmaps = googlemaps.Client(key=API_KEY)

In [35]:
gmaps.geocode("서울영등포경찰서",language="ko")

[{'address_components': [{'long_name': '608',
    'short_name': '608',
    'types': ['premise']},
   {'long_name': '국회대로',
    'short_name': '국회대로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '영등포구',
    'short_name': '영등포구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '150-043',
    'short_name': '150-043',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 영등포구 국회대로 608',
  'geometry': {'location': {'lat': 37.5260441, 'lng': 126.9008091},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5273930802915,
     'lng': 126.9021580802915},
    'southwest': {'lat': 37.5246951197085, 'lng': 126.8994601197085}}},
  'partial_match': True,
  'place_id': 'ChIJ1TimJLaffDURptXOs0Tj6sY',
  'plus_code': {'compound_code': 'GWG2+C8 대한민국 서울특별시',
   'global_code': '8Q98GWG2+C8'},
  'types': ['establishment', 'point_of_interest', 'police']}]